In [5]:
# All Includes

import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import tensorflow as tf  # Version 1.0.0 (some previous versions are used in past commits)
from sklearn import metrics

import os

In [6]:
import pandas as pd

In [7]:
# Useful Constants

# Those are separate normalised input features for the neural network
INPUT_SIGNAL_TYPES = [
    "body_acc_x_",
    "body_acc_y_",
    "body_acc_z_",
    "body_gyro_x_",
    "body_gyro_y_",
    "body_gyro_z_",
    "total_acc_x_",
    "total_acc_y_",
    "total_acc_z_"
]

# Output classes to learn how to classify
LABELS = [
    "WALKING", 
    "WALKING_UPSTAIRS", 
    "WALKING_DOWNSTAIRS", 
    "SITTING", 
    "STANDING", 
    "LAYING"
]

In [8]:
column_time_series = ['user-id','activity','timestamp', 'x-axis', 'y-axis', 'z-axis']
column_labels = ['user-id','activity','timestamp', 'label']

test_labels = pd.read_csv("test_labels.csv",header = None, names = column_labels)
test_time_series = pd.read_csv("test_time_series.csv",header = None, names = column_time_series)
train_labels = pd.read_csv("train_labels.csv",header = None, names = column_labels)
train_time_series = pd.read_csv("train_time_series.csv",header = None, names = column_time_series)

In [9]:
test_labels.head(5)

   user-id       activity                timestamp  label
0      NaN      timestamp                 UTC time  label
1  24339.0  1565110307041  2019-08-06T16:51:47.041    NaN
2  24349.0  1565110308043  2019-08-06T16:51:48.043    NaN
3  24359.0  1565110309046  2019-08-06T16:51:49.046    NaN
4  24369.0  1565110310048  2019-08-06T16:51:50.048    NaN

In [10]:
test_time_series.head(5)

,user-id,activity,timestamp,x-axis,y-axis,z-axis
NaN,timestamp,UTC time,accuracy,x,y,z
24330.0,1565110306139,2019-08-06T16:51:46.139,unknown,0.0342864990234375,-1.50445556640625,0.157623291015625
24331.0,1565110306239,2019-08-06T16:51:46.239,unknown,0.4091644287109375,-1.038543701171875,0.030975341796875
24332.0,1565110306340,2019-08-06T16:51:46.340,unknown,-0.2343902587890625,-0.98455810546875,0.1247711181640625
24333.0,1565110306440,2019-08-06T16:51:46.440,unknown,0.2511138916015625,-0.7870025634765625,0.0548095703125

In [11]:
train_labels.head(5)

   user-id       activity                timestamp  label
0      NaN      timestamp                 UTC time  label
1  20589.0  1565109931087  2019-08-06T16:45:31.087      1
2  20599.0  1565109932090  2019-08-06T16:45:32.090      1
3  20609.0  1565109933092  2019-08-06T16:45:33.092      1
4  20619.0  1565109934094  2019-08-06T16:45:34.094      1

In [12]:
train_time_series.head(5)

,user-id,activity,timestamp,x-axis,y-axis,z-axis
NaN,timestamp,UTC time,accuracy,x,y,z
20586.0,1565109930787,2019-08-06T16:45:30.787,unknown,-0.0064849853515625,-0.9348602294921876,-0.0690460205078125
20587.0,1565109930887,2019-08-06T16:45:30.887,unknown,-0.06646728515625,-1.01544189453125,0.0895538330078125
20588.0,1565109930987,2019-08-06T16:45:30.987,unknown,-0.043487548828125,-1.0212554931640625,0.178466796875
20589.0,1565109931087,2019-08-06T16:45:31.087,unknown,-0.053802490234375,-0.987701416015625,0.0689849853515625

In [13]:
import numpy as np
def vectorize_sequences(sequences, dimension=10000):
    results = np.zeros((len(sequences), dimension))
    for i, sequence in enumerate(sequences):
        results[i, sequence] = 1.
    return results
x_train = vectorize_sequences(train_time_series)
x_test = vectorize_sequences(test_time_series)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices